$color-primary-1: #d6e2ff;
$color-primary-2: #b6c8ff;
$color-primary-3: #8aa2ff;
$color-primary-4: #5c6dff;
$color-primary-5: #373aff;
$color-primary-7: #2414ff;
$color-primary-8: #1d0af8;
$color-primary-9: #160bb7;
$color-neutral-0: #e9efff;
$color-neutral-9: #110c5a;
